<div class="aboutusbody">
    <h2 class="aboutusheader">ABOUT US</h2>
    <p class="aboutustext">A long time ago, a little dude wanted to create his own company about selling witch brews.
        His friends called him mad, insane, incredibly stupid but guess whos laughing now.
        Being open for only 2 weeks, Witches Brew has already collaborated with some of the worlds most famous beverage brands!
    </p>
    <h2 class="aboutusheader">WHAT IS OUR AMBITION</h2>
    <p class="aboutustext">We want to provide our consumers with potion bottles that are both eco-friendly and riddled with immense quality.</p>
</div>